<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} - {{ site.description }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
  {% seo %}
</head>

<body>
  <div class="main-container">
    <header class="header">
      <div class="logo-container">
        <a href="/">
          <img src="{{ '/assets/images/logo.webp' | relative_url }}" alt="Manage Tab Logo" class="logo-image"
            fetchpriority="high" width="320" height="320">
        </a>
      </div>
    </header>

    <div class="screenshots-container">
      <img src="{{ '/assets/images/light-mode.webp' | relative_url }}" alt="Light Mode Screen" class="screenshot-image"
        fetchpriority="high">
      <img src="{{ '/assets/images/settings.webp' | relative_url }}" alt="Settings Screen" class="screenshot-image"
        loading="lazy">
      <img src="{{ '/assets/images/dark-mode.webp' | relative_url }}" alt="Dark Mode Screen" class="screenshot-image"
        loading="lazy">
    </div>

    <section class="hero">

      <div class="content-area">
        {{ content }}
      </div>
    </section>
  </div>
</body>

</html>